
<div id="watchlist">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>User</th>
                <th colspan="4"></th>
            </tr>
        </thead>
        <tbody>
            <% @films.each do |f| %>
                <tr>
                    <td><%= f.title %></td>
                    <td><%= f.director %></td>
                    <td><%= f.year %></td>
                    <td><%= f.user.email %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%= link_to "New", new_film_path %>