<%= form_with(model: film, local:true) do |f| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, id: :film_title %>
    </div>
    <div class="field">
        <%= f.label :director %>
        <%= f.text_field :director, id: :film_director %>
    </div>
    <div class="field">
        <%= f.label :year %>
        <%= f.number_field :year, id: :film_year %>
    </div>



    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>